.dog-grid {
    padding: 70px 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.dog-card {
    height: 300px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    padding: 40px 0 20px 0;
    margin-bottom: 0px;
    background: white;
    transition: transform 0.3s ease;
}

.dog-card p {
    margin-bottom: 0;
}

.dog-card:hover {
    transform: scale(1.025);
}

.dog-card-link {
    text-decoration: none;
    color: #000;
}

.dog-card-link:hover {
    text-decoration: none;
    color: dodgerblue;
}

.dog-card-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.dog-card-content {
    margin: 3px;
}
.dog-card-friend {
    text-align: center;
}

.requests-link {
    text-decoration: none;
    font-weight: bold;
    margin: 10px 0;
    color: dodgerblue;
}

.own-dog {
    font-weight: bold;
    color: hotpink;
}

.add-dog-card {
    font-size: 50px;
}

.dog-card button {
    margin-top: 10px;
}

.dog-card button:hover{
    background-color: #f3ce4e;
}

.dog-card-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: center;
}