.dog-list-container {
    height: 100%;
    background-image: url('https://unsplash.com/photos/U6nlG0Y5sfs/download?force=true&w=1700');
    background-position: center center;
}

.my-dog-list-container {
    background-image: url('https://unsplash.com/photos/aVTME6WDKqw/download?force=true&w=1700');
    background-position: bottom center;
}