.get-started-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-content: center;
}

.get-started-container > div {
    width: 48%;
}

@media (max-width: 768px) {
    .get-started-container {
        flex-direction: column;
    }

    .get-started-container > div {
        width: 100%;
        margin-bottom: 20px;
    }
}