.profile-container {
    text-align: center;
    background-color: #26d786;
    padding: 10px 0 0 0;
    height: 80vh;
    background-image: url('https://unsplash.com/photos/aVTME6WDKqw/download?force=true&w=1700');
}

.profile-picture-container {
    margin-top: 20px;
    position: relative;
    display: inline-block;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fa-pencil-alt {
    color: #555555;
}

.profile-username {
    margin-top: 20px;
}

.email {
    margin-bottom: 20px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #aaaaaa;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

button[type="submit"] {
    margin-top: 10px;
}
