.request-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('https://unsplash.com/photos/wvnSt-oYIB4/download?force=true&w=1700');
    height: 80vh;
}

.request-container p span {
    font-weight: bold;
    color: #f63c5e;
}

.request-container ul {
    list-style-type: none;

}

.request-container button:hover {
    background-color: #7f49c9;
}

.fa-paw {
    font-size: 50px;
}