.backButton {
  background-color: transparent;
  color: black;
  font-size: 25px;
  margin: 0px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.backButton:hover {
  background-color: transparent;
  color: black;
}

h1 {
  margin: 0;
}